
img {
    border: 0px;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}
/*Устаревший класс*/
.clear {
    font-size: 0px;
    clear: both;
}
.hidden {
    display: none  !important;
}
.hidden_r {
    display: none;
}
.show_d {
    display: block;
}
.show_r {
    display: block !important;;
}
.text {
    font-size: 14px;
    line-height: 20px;
}
.min-text {
    color: #888888;
    font-size: 14px;
    line-height: 17px;
}
.bg{
    background: url("/images/bg1.jpg") no-repeat;
    background-size: 100%;
    background-color: #dfdbdc;
}

.form-normal.border {
    margin: 0;
    padding: 10px 15px;
    border-radius: 3px;
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px -4px #000;
}
.form-normal .form-group.phone, .form-normal .form-inline.phone {
    position: relative;
}
.form-normal .form-group.phone .pl, .form-normal .form-inline.phone .pl {
    color: #747474;
    display: none;
    left: 5px;
    position: absolute;
    top: 9px;
}
.form-normal .form-group .form-control.pin, .form-normal .form-inline .form-control.pin {
    margin-right: 5px;
    width: 85px;
}
.form-normal .form-group label, .form-normal .form-inline label {
    margin: 0px;
    font-size: 12px;
}
.form-normal.min {
    max-width: 300px;
}
.form-normal.center {
    margin: 0 auto;
}
.form-normal .title-form{
    width: 100%;
    font-weight: bold;
    margin: 10px 0;

    font-size: 18px;
}
.form-normal .text-min{
   color: #757575;
    font-size: 11px;
    margin-bottom: 5px;
}
/*Поле*/
.form-normal .form-group {
    margin-bottom: 5px;
}
.form-normal .form-group textarea {
    max-height: 80px;
    width: 100%;
}
a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}
a.dashed {
    border-bottom:1px dashed;
}
a.dotted {
    border-bottom:1px dotted;
}
a.dashed:hover,a.dotted:hover,a:focus {
    border-bottom:none;
    text-decoration: none;
}
/*Бустрап форм*/
.form-group.input {
    padding-left: 5px;
    padding-right: 5px;
}

.items__com {
    max-height: 260px;
    overflow: auto;
}
.items__com .item {
    border: 1px solid #cacaca;
    border-radius: 3px;
    margin-top: 15px;
    padding: 10px;
}
.items__com .item .date {
    color: #555555;
    font-size: 12px;
}

.table-scroll {
    overflow: auto;
    max-height: 200px;
}

/*Alert*/
.alert__fix {
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 80px;
    width: 98%;
    z-index: 10000;
    display: none;
}
.alert__fix .messages {
    font-size: 18px;
}
@keyframes loader {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}
@keyframes loaderBlock {
    0%, 30% {
        transform: rotate(0);
    }
    55% {
        background-color: #F37272;
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes loaderBlockInverse {
    0%, 20% {
        transform: rotate(0);
    }
    55% {
        background-color: #F37272;
    }
    100% {
        transform: rotate(-90deg);
    }
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: loader 1.2s infinite ease-in-out;
}
.loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #EE4040;
    animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
    top: 0;
    left: 0;
}
.loader span:nth-child(2) {
    top: 0;
    right: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
    bottom: 0;
    right: 0;
}
/*Таб*/
.tab__com {

}
.tab__com .tab-pane {
    display: none;

}
.tab__com .tab-pane.active {
    display: block;
}

/*Время*/
.times-content {
    display: none;
    margin-top: -18px;
    padding: 5px 0;
}
.times-content .times-select {
    float: left;
    margin-right: 10px;
    width: 65px;
}
.times-content .times-select label {
    font-size: 11px;
    margin: 0px;
}